<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nompangadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconadmin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconadmin"
        android:supportsRtl="true"
        android:theme="@style/Theme.NompangAdmin">
        <activity android:name=".info_of_order" />
        <activity android:name=".manageStoreActivity" />
        <activity android:name=".orderlistActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>